<% if Flip.article_social_share_features? %>
  <% present @article do |article_presenter| %>
    <%= og_title article_presenter.social_share_title %>
    <%= og_description article_presenter.social_share_description %>
    <%= og_image article_presenter.social_share_image %>
    <%= twitter_creator '@twitter' %>
  <% end %>
<% end %>

<div class="article-show">
  <% present @article do |article_presenter| %>
    <div class="article-show-title">
      <%= article_presenter.title %>
    </div>

    <%= article_presenter.show_image(alt: article_presenter.title, class: 'article-show-image') %>

    <div class="article-show-content">
      <%= article_presenter.content %>
    </div>

    <%= link_to 'View all', articles_path, class: 'article-show-view-all' %>
  <% end %>
</div>
