<div class="team-member">
  <div class="team-member-full-name">
    <%= team_member_presenter.full_name %>
  </div>

  <div class="team-member-role">
    <%= team_member_presenter.role %>
  </div>

  <div class="team-member-primary-telephone">
    <%= team_member_presenter.primary_telephone %>
  </div>

  <div class="team-member-email-address">
    <%= team_member_presenter.linked_email_address %>
  </div>

  <% if team_member_presenter.dx_number.present? %>
    <div class="team-member-dx-number">
      <%= team_member_presenter.dx_number %>
    </div>
  <% end %>

  <% if team_member_presenter.mobile_number.present? %>
    <div class="team-member-mobile-number">
      <%= team_member_presenter.mobile_number %>
    </div>
  <% end %>

  <% if team_member_presenter.vcard.present? %>
    <div class="team-member-vcard">
      <%= team_member_presenter.vcard %>
    </div>
  <% end %>
</div>
