<%= form_for(@team_member) do |f| %>
  <% if @team_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_member.errors.count, "error") %> prohibited this team_member from being saved:</h2>

      <ul>
        <% @team_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :forename %><br>
        <%= f.text_field :forename %>
      </div>

      <div class="field">
        <%= f.label :surname %><br>
        <%= f.text_field :surname %>
      </div>

      <div class="field">
        <%= f.label :role %><br>
        <%= f.text_field :role %>
      </div>

      <div class="field">
        <%= f.label :primary_telephone %><br>
        <%= f.text_field :primary_telephone %>
      </div>

      <div class="field">
        <%= f.label :secondary_telephone %><br>
        <%= f.text_field :secondary_telephone %>
      </div>

      <div class="field">
        <%= f.label :email_address %><br>
        <%= f.text_field :email_address %>
      </div>

      <div class="field">
        <%= f.label :specialisms %><br>
        <%= f.text_area :specialisms, class: 'tinymce' %>
      </div>

      <% if Flip.team_member_profile? %>
        <div class="field">
          <%= f.label :profile %><br>
          <%= f.text_area :profile, class: 'tinymce' %>
        </div>
      <% end %>

      <% if Flip.team_member_google_plus? %>
        <div class="field">
          <%= f.label :google_plus %><br>
          <%= f.text_field :google_plus %>
        </div>
      <% end %>

      <% if Flip.team_member_twitter_link? %>
        <div class="field">
          <%= f.label :twitter_link %><br>
          <%= f.text_field :twitter_link %>
        </div>
      <% end %>

      <% if Flip.team_member_facebook_link? %>
        <div class="field">
          <%= f.label :facebook_link %><br>
          <%= f.text_field :facebook_link %>
        </div>
      <% end %>

      <% if Flip.team_member_mobile_number? %>
        <div class="field">
          <%= f.label :mobile_number %><br>
          <%= f.text_field :mobile_number %>
        </div>
      <% end %>

      <% if Flip.team_member_dx_number? %>
        <div class="field">
          <%= f.label :dx_number %><br>
          <%= f.text_field :dx_number %>
        </div>
      <% end %>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      <%= f.image_field :image %>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
      <%= f.datetimepicker_field :display_from %>
      <%= f.datetimepicker_field :display_until %>

      <div class="field">
        <%= f.label :display %>
        <%= module_tooltip('Main display setting', 'This team member will show only if this is set to true and the times above are blank or within the timeframes.') %>
        <br>
        <%= f.check_box :display %>
      </div>

      <% if Flip.team_member_vcards? %>
        <div class="field">
          <%= f.label :has_vcard_download %><br>
          <%= f.check_box :has_vcard_download %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
